.button {
    margin: 20px;
}

.rightIcon {
    margin-left: 10px;
}

.paper {
    padding: 20px;
    margin: auto;
    max-width: 700px;
    height: auto !important;
}

.margin {
    margin-top: 20px;
}

.height{
    height: auto;
}